
body {
  background-color: #FCB2BF;
  margin-top: 0;
  margin-left: 0;
  padding-left: 12px;
}

hr {
  border-style: none;
  border-color: #f5dce1;
  border-top-style: dotted;
  border-width: 5px;
  width: 6%;

}

img {
  height: 150px;
  width: 150px;
}

h1 {
  color: #561F55;
  font-family: "courier new";
}

h3 {
  color: #561F55;
  font-family: "Monaco", monospace;
}

.nav-bar {
  position: fixed;
  background-color: #EDD2F3;
  padding-right: 1348px;
  padding-left: 10px;
  left: 0;

}

.info {
  padding-top: 50px;
}
